body {
  padding: 20px;
  font-family: sans-serif;
  font-size: 14px;
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.8);
  outline: solid 3px #fff;
  background-color: #fff;
}

.hand {
  overflow: auto;
}

.Clubs, .Spades {
  border: solid 3px black;
}

.Hearts, .Diamonds {
  border: 3px solid red;
}

.Jack {
  background: url(../marcus.jpeg) no-repeat;
  background-size: 90%;
  background-position-y: 50%;
  background-position-x: 50%;
}

.Queen {
  background: url(../doug.jpeg) no-repeat;
  background-size: 90%;
  background-position-y: 50%;
  background-position-x: 50%;
}

.King {
  background: url(../fred.png) no-repeat;
  background-size: 90%;
  background-position-y: 50%;
  background-position-x: 50%;
}

.covered {
  background-color: black;
  border: solid 3px black;
}
